# {{ ansible_managed }}
---

services:
{% if tailscale_enable and ts_authkey %}
{% with name='actual-budget' %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}
 
 actual-budget:
    image: docker.io/actualbudget/actual-server:latest
    container_name: actual-budget
    environment:
      - ACTUAL_HTTPS_KEY=/certs/actual-budget.key
      - ACTUAL_HTTPS_CERT=/certs/actual-budget.crt
      - ACTUAL_PORT=443
    volumes:
      - ./actual-data:/data
      - ./certs:/certs
    restart: unless-stopped
{% if tailscale_enable and ts_authkey %}
    depends_on:
      - actual-budget-tailscale
    network_mode: service:actual-budget-tailscale
{% endif %}
