# {{ ansible_managed }}
---

services:
{% if tailscale_enable and ts_authkey %}
{% with name=name %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}
 
 {{ name }}:
    image: docker.io/actualbudget/actual-server:latest
    container_name: {{ name }}
    environment:
      - ACTUAL_HTTPS_KEY=/certs/{{ name }}.key
      - ACTUAL_HTTPS_CERT=/certs/{{ name }}.crt
      - ACTUAL_PORT=443
    volumes:
      - ./actual-data:/data
      - ./certs:/certs
    restart: unless-stopped
{% if tailscale_enable and ts_authkey %}
    depends_on:
      - {{ name }}-tailscale
    network_mode: service:{{ name }}-tailscale
{% endif %}
