# {{ ansible_managed }}
---

services:
{% if tailscale_enable and ts_authkey %}
{% with name='actual' %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}
 
 actual-budget:
    image: docker.io/actualbudget/actual-server:latest
    container_name: actual-budget
    environment:
      - ACTUAL_HTTPS_KEY=/data/certs/actual.tail33e78.ts.net.key
      - ACTUAL_HTTPS_CERT=/data/certs/actual.tail33e78.ts.net.crt
      - ACTUAL_PORT=80
    volumes:
      - ./actual-data:/data
    restart: unless-stopped
{% if tailscale_enable and ts_authkey %}
    depends_on:
      - tailscale-actual
    network_mode: service:tailscale-actual
{% endif %}
