# {{ ansible_managed }}
---
services:
{% if tailscale_enable and ts_authkey %}
{% with name=name %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}

 {{ name }}:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: {{ name }}
    volumes:
      - ./config:/config
      - {{ data_dir }}:/data/
    environment:
      - PUID={{ jellyfin_puid }}
      - PGID={{ jellyfin_pgid }}
    restart: unless-stopped
{% if tailscale_enable and ts_authkey %}
    depends_on: 
      - {{ name }}-tailscale
    network_mode: service:{{ name }}-tailscale
{% endif %}
