# {{ ansible_managed }}
---

services:
{% if tailscale_enable and ts_authkey %}
{% with name='jellyfinp' %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}

 jellyfinp:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfinp
    volumes:
      - ./config:/config
      - {{ data_dir }}:/data/
    environment:
      - PUID={{ jellyfin_puid }}
      - PGID={{ jellyfin_pgid }}
    restart: unless-stopped
{% if tailscale_enable and ts_authkey %}
    depends_on: 
      - jellyfinp-tailscale
    network_mode: service:jellyfinp-tailscale
{% endif %}
