# {{ ansible_managed }}
---

services:
{% if tailscale_enable and ts_authkey %}
{% with name='metube' %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}

 metube:
    image: ghcr.io/alexta69/metube
    container_name: metube
    volumes:
      - ./config:/config
      - ~/media/downloads/youtube:/downloads/youtube
      - ~/media/downloads/music:/downloads/music
      - ~/media/downloads/videos:/downloads/videos
      - ~/media/downloads/photos:/downloads/photos
    restart: unless-stopped
{% if tailscale_enable and ts_authkey %}
    depends_on: 
      - tailscale-metube
    network_mode: service:tailscale-metube
{% endif %}
