# {{ ansible_managed }}
---
services:
{% if tailscale_enable and ts_authkey %}
{% with name=name %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}

 {{ name }}:
    image: ghcr.io/alexta69/metube
    container_name: {{ name }}
    volumes:
      - ./config:/config
      - {{ data_dir }}/downloads:/downloads
    restart: unless-stopped
{% if tailscale_enable and ts_authkey %}
    depends_on: 
      - {{ name }}-tailscale
    network_mode: service:{{ name }}-tailscale
{% endif %}
