# {{ ansible_managed }}
---
services:
{% if tailscale_enable and ts_authkey %}
{% with name=name %}
{% include 'tailscale.yml.j2'%}
{% endwith %}
{% endif %}

 db:
  image: mariadb:10.6
  container_name: {{ name }}_db
  command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
  restart: unless-stopped
  environment:
   - MYSQL_ROOT_PASSWORD={{ nextcloud_db_root_password }}
   - MYSQL_PASSWORD={{ nextcloud_db_password }}
   - MYSQL_DATABASE={{ nextcloud_db_name }}
   - MYSQL_USER={{ nextcloud_db_user }}
  volumes:
   - {{ nextcloud_dir }}/db:/var/lib/mysql

 app:
  image: {{ name }}
  container_name: {{ name }}_app
  environment:
   - MYSQL_PASSWORD={{ nextcloud_db_password }}
   - MYSQL_DATABASE={{ nextcloud_db_name }}
   - MYSQL_USER={{ nextcloud_db_user }}
   - MYSQL_HOST=db
  volumes:
   - {{ nextcloud_dir }}/app:/var/www/html
  restart: unless-stopped
  depends_on: 
   - db
{% if tailscale_enable and ts_authkey %}
   - {{ name }}-tailscale
  network_mode: service:{{ name }}-tailscale
{% endif %}
